--index-url https://download.pytorch.org/whl/cu124 --extra-index-url https://pypi.org/simple

torch==2.6.0+cu124
torchao
triton-windows==3.2.0.post11
transformers==4.56.1
accelerate==1.4.0
trl==0.23.0
torchvision
xformers
# unsloth
# unsloth_zoo
pytest
reportlab